<%= form_for [restaurant, dish] do |f| -%>
	<% if dish.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

	    <ul>
	    <% dish.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
	<div class="field">
	  <%= f.label :name %><br>
	  <%= f.text_field :name %>
	</div>
	<div class="field">
	  <%= f.label :price %><br>
	  <%= f.text_field :price %>
	</div>
	<div class="field">
	  <%= f.label :image_url %><br>
	  <%= f.text_field :image_url %>
	</div>
	<%= f.hidden_field :restaurant_id, value: restaurant.id %>
	<div>
	  <%= f.submit %>
	</div>
<% end -%>
