<%= form_for(restaurant, remote: true) do |f| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-field' %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: 'form-field' %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: 'form-field' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
